<app-navbar></app-navbar>
<br>
<div class="col-md-8 col-md-offset-3" style="margin: auto">
<div class="card">
    <h4 class="card-header text-center text-white" style="background-color: #343a40!important;">Change Your Password</h4>
    <div class="card-body">
        <br>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-4 text-center">
                <h4><b>Old Password:</b></h4>  
            </div> 
            <div class="col-md-6">    
                <input class="form-control" type="password" [(ngModel)]="user.password" name="password" placeholder="Enter old password" required>
            </div>
            <div class="col-md-1"></div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-4 text-center">
                <h4><b>New Password:</b></h4>  
            </div> 
            <div class="col-md-6">    
                <input class="form-control" type="password" [(ngModel)]="user.npassword" name="npassword" placeholder="Enter new password" required>
            </div>
            <div class="col-md-1"></div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-4 text-center">
                <h4><b>Confirm New Password:</b></h4>  
            </div> 
            <div class="col-md-6">    
                <input class="form-control" type="password" [(ngModel)]="temp.ncpassword" name="ncpassword" placeholder="Confirm new password" required>
            </div>
            <div class="col-md-1"></div>
        </div>
        
            
    
<br>
<div class="text-center">
    <button class="btn btn-warning" (click)="onPasswordChange()">Submit</button>
</div>
<br><br>
</div>
</div>
</div>

